@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Sans', Arial, Helvetica, sans-serif;
}
.top_header{
    height: 350px;
    width: 100%;
    background: url(images/brooklynb.jpeg) no-repeat;
    background-size: cover;
}
.top_header h1{
    font-size: 100px;
    text-align: center;
}
.navigation_bar{
    background-color: #162d62;
    text-align: center;
}
.navigation_bar a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
}
.custom-btn {
    background-color: #162d62 ;
    color: #fff !important;
}
.dropdown-menu{
    background-color: #eae0c8 !important;
}
.dropdown-menu a{
    color: #000;
}
.about{
    background-color: #EEECDF;
    height: 100vh;
    width: 100vw;
}

.about h2{
    font-size: 30px;
    padding: 20px;
    margin: 10px;
}

.about img {
    align-items: center ;
    height: 300px; 
    width: 500px;
}